.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app__chart-type {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  margin: 3rem;
}

.app__title {
  text-align: center;
  margin: 2rem 0;
}

.app__graph {
  margin: 3rem;
}

@media only screen and (max-width: 600px) {
  .app__chart-type {
    margin: 3rem 1rem;
    justify-content: center;
  }

  .app__graph {
    margin: 3rem 1rem;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
